*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
}
body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    background-image: url("../images/2.jpg");
    background-size: cover;
    background-position: 50%;
}
.container{
    width: 100%;
    height:100%;
    margin:0 auto;
    background: rgba(0,0,0,0.5);
    position: relative;
}
audio{
    display: none;
}
.container .conUp{
    width: 80%;
    height: 80%;
    margin:0 auto;
    padding:20px;
    text-align: center;
    overflow: hidden;
}
.conUp .song{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    margin:10px;
    letter-spacing: 10px;
}
.conUp .author{
    font-size: 18px;
    color: #fff;
    margin:10px 0 30px 0;
}
.conUp .lyric>li{
    width: 100%;
    padding:10px;
    font-size: 16px;
    color: #fff;
    transition: all ease 3s;
}
.conUp .lyric>.hot{
    padding:15px;
    font-size: 22px;
    color: #68E868;
}
.container .conDown{
    width: 100%;
    height: 12%;
    background: -webkit-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,1));
    position: absolute;
    bottom: 0;
}
.conDown .conDown-bottom{
    width: 1030px;
    height: 100%;
    margin:0 auto;
}
.conDown-bottom .left{
    width: 20%;
    height:100%;
    float: left;
    text-align: center;
    line-height: 84px;
}
.conDown-bottom .left>span{
    font-size: 40px;
    color: #FFF;
}
.conDown-bottom .left>span:nth-child(2){
    font-size: 45px;
    margin:0 15px;
}
.conDown-bottom .left>span:nth-child(2){
    font-size: 45px;
    margin:0 15px;
}
.conDown-bottom .center{
    width: 60%;
    height:100%;
    float: left;
    padding:10px 0;
}
.conDown-bottom .center>.centerL{
    display: block;
    float: left;
}
.conDown-bottom .center>.centerL>img{
    width: 65px;
    height:65px;
    display: block;
    border-radius: 50%;
    border:3px solid #fff;
    margin:0 10px;
}
.conDown-bottom .center>.centerR{
    width: 533px;
    height:100%;
    float: left;
}
.conDown-bottom .center>.centerR>.centerR-up{
    width:100%;
    overflow: hidden;
    padding:10px;
}
.conDown-bottom .center>.centerR>.centerR-up>.title{
    float: left;
    font-size: 18px;
    color:#fff;
}
.conDown-bottom .center>.centerR>.centerR-up>.daojishi{
    float: right;
    font-size: 16px;
    color:#fff;
}
.conDown-bottom .center>.centerR>.centerR-up>.daojishi>i{
    font-style: normal;
    font-size: 16px;
    color:#fff;
}
.conDown-bottom .center>.centerR>.centerR-down{
    width:100%;
    height: 8px;
    background: gray;
    margin-left:10px;
    border-radius: 4px;
}
.conDown-bottom .center>.centerR>.centerR-down>span{
    width: 0;
    display: block;
    height: 8px;
    background: blue;
    border-radius: 4px;
}
.conDown-bottom .right{
    width: 20%;
    height:100%;
    float: right;
    line-height: 84px;
    padding:0 30px;
    position: relative;
}
.conDown-bottom .right>span{
    display: block;
    width: 40px;
    font-size: 40px;
    color: #FFF;
}
.conDown-bottom .right>.vol{
    width: 50px;
    height:200px;
    display: none;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 5px rgba(255,255,255,0.3);
    border-radius: 3px;
    position: absolute;
    top:-200px;
    left:24px;
    z-index: 333;
    transition: all ease 0.5s;
}
.conDown-bottom .right>.vol>.progress{
    width: 8px;
    height:90%;
    border-radius: 4px;
    background: #fff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.conDown-bottom .right>.vol>.progress>.jindu{
    width: 100%;
    height:50%;
    background:#4D92B4 ;
    border-radius: 5px;
    position: absolute;
    bottom:0;
}
.conDown-bottom .right>.vol>.progress>span{
    display: block;
    width: 15px;
    height:10px;
    border-radius: 50%;
    border:1px solid #4D92B4;
    box-shadow: 0 0 10px rgba(81,158,196,0.9);
    background: #fff;
    position: absolute;
    bottom: 50%;
    left: -3.5px;
    transform: translate(0,50%);
}
